@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background: linear-gradient(135deg, #ffffff, #7fc0c8); 
    background-size: 200% 200%; 
    animation: gradientAnimation 10s ease infinite; 
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
h1{
    font-size: xx-large;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
}

.form-control{
    width: 350px;
    height: 50px;
    font-size: larger;
    border-radius: 13px;
    border: whitesmoke solid 2px;
    box-shadow: 5px 5px 10px gray;
}

.btn:hover{
    transform: scale(1.05);
    border: whitesmoke solid 2px;
}

.btn{
    transition: 0.2s;
    height: 50px;
    width: 150px;
    border-radius: 7px;
    border: whitesmoke solid 2px;
    font-size: larger;
    margin-top: 1%;
}

.btn:hover{
    box-shadow: 10px 10px 15px gray;
}

p{
    color: transparent;
    
}

.cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 50%;
    height: 30vh;
    background-color: rgb(211, 216, 220);
    border: whitesmoke solid 5px;
    border-radius: 20px;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    align-items:center ;
    box-shadow: 15px 15px 15px gray;
    
}

h2{
    font-size: medium;
}

a{
    transition: 0.2s;
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    border: whitesmoke solid 2px;
    font-size: larger;
    margin:auto;
    background-color: #007bff;
    padding: 13px;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.2s;

}

a:hover{
    text-decoration: none;
    box-shadow: 10px 10px 15px gray;
    color: whitesmoke;
}

#last{
    margin-top: 70px;
    width: auto;
}